Update association.go to RFC 9260

The first issue I found with this is regarding <https://github.com/pion/sctp/blame/012d2b44dbc178427e0c25b8f17a527f04e2032c/association.go#L1797> which refers to RFC 4960 section 7.2.1 "Slow Start". The line is:
```go
a.setCWND(a.CWND() + min32(uint32(totalBytesAcked), a.CWND()))
```

but according to the RFC it should be:
```go
a.setCWND(a.CWND() + min32(uint32(totalBytesAcked), a.MTU()))
```

The problem is, testing the impact of this is really difficult since it's so small. The change I would like instead is to just update association.go to abide by rfc 9260 as it uses a different approach instead.

The only concern I have at the moment is that association.go is really big so it will probably take a while.